fastapi
uvicorn
python-dotenv
pydantic
langchain==0.3.24
langchain-google-genai
langchain-huggingface
langchain-community==0.3.23
google-generativeai
faiss-cpu
sentence-transformers
PyYAML
pydantic-settings
aiofiles
watchdog
langsmith<0.4
langchain-groq
groq